body
{
    background-image: url('images/back_allsite4.jpg');
    background-color: rgba(255, 255, 255, 0.651); 
    background-blend-mode: overlay; 
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    
    
}

::-webkit-scrollbar {
    width: 0px;  
    height: 0px; 
  }

header
{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 2fr 9fr;
    gap: 3vh;
    
    

}
.triple
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    gap: 3vh;

}

.logo img
{
    width: 100%;
    height: 100%;
    border-radius: 4vh;
}

nav img{
    width: 98%;
    height: auto;
}
nav{
    background-image: url('images/window_one.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px;
    p{
        font-family: Arial, sans-serif;
        font-size: 3.5vh;
        text-align:center;
        color: rgb(255, 255, 255);
        background-color: #ec422ce7;
        transition:  0.2s ease;

    }
    .change_back_one:hover p,
    .change_back_two:hover p,
    .change_back_thr:hover p,
    .change_back_fo:hover p
    {
        font-size: 4vh;
    }
    .item_info{
        display: flex;
        width: 80%;
        background-color: rgba(213, 97, 77, 0.534);
        margin-left:10% ;
        margin-right: 10%;
        height: auto;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        text-align: center;
        color: #fff;
        opacity: 0;
        font-size: 2vh;
        transition: opacity 0.5s ease, visibility 0s 0.5s;

    }
    .change_back_one:hover .item_info,
    .change_back_two:hover .item_info,
    .change_back_thr:hover .item_info,
    .change_back_fo:hover .item_info
    {
        opacity: 1;
    }

}




.area
{
    margin-left: 5%;
    margin-right: 5%;
}
.ab_site
{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 4fr 10fr;
    gap: 2vh;
}
.feedback 
{
    border-radius: 4vh;
    background-color: rgb(211, 200, 181);
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    background-image: url('images/back_absite1.jpg');
    background-size: cover;
    .input_field{
        width: 14vh;
        height: 2.5vh;
    }
    p{
        text-align: left;
        padding-left: 2vh;
        font-size: 1.2em;
        background-color: rgba(255, 255, 255, 0.712);
        border-radius: 1vh;
        margin-top: 2vh;
    }
    h3{
        color: rgb(0, 0, 0);
        padding-left: 1vh;
        padding-right: 1vh;
        background-color: rgb(110, 71, 12);
        border-radius: 1vh;
        display:inline-block;
        margin-bottom: 0;
        color: white;
    }
    .com_but{
        background-color: #845008;
        padding: 3% 5%;
        border-radius: 20px;
        font-size:3.4vh;
        border-radius:1.5vh;
        transition: transform 0.5s ease;
    }
    .com_but:hover{
        transform: scale(1.1);
    }
}

.change_back_one
{
    background-image:  url('images/ghost.png');
    border-top-left-radius:35px;
    border-bottom-left-radius:35px;
    cursor: pointer;
    transition:background-image 0.8s ease-out;
    background-size: cover;
    
}
.change_back_one:hover
{
    background-image: url('images/back_1.png') ;
    transition-delay: 0s;
    background-size: cover;
}
.change_back_one:not(:hover)
{
    transition-delay: 2.5s;
}


.change_back_two
{
    background-image:  url('images/ghost.png');
    cursor: pointer;
    transition:background-image 0.8s ease-out;
    background-size: cover;
    
}
.change_back_two:hover
{
    background-image: url('images/back_2.jpg') ;
    transition-delay: 0s;
    background-size: cover;
    
}
.change_back_two:not(:hover)
{
    transition-delay: 2.5s;
}


.change_back_thr
{
    background-image:  url('images/ghost.png');
    cursor: pointer;
    transition:background-image 0.8s ease-out;
    background-size: cover;
}
.change_back_thr:hover
{
    background-image: url('images/back_3.jpg') ;
    transition-delay: 0s;
    background-size: cover;
}
.change_back_thr:not(:hover)
{
    transition-delay: 2.5s;
}

.change_back_fo
{
    background-image:  url('images/ghost.png');
    cursor: pointer;
    border-top-right-radius:35px;
    border-bottom-right-radius:35px;
    transition:background-image 0.8s ease-out;
    background-size: cover;
}
.change_back_fo:hover
{
    background-image: url('images/back_4.jpg') ;
    transition-delay: 0s;
    background-size: cover;
}
.change_back_fo:not(:hover)
{
    transition-delay: 2.5s;
}



.site_slogan
{
    border-radius: 4vh;
    
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    background-image: url('images/back_absite1_v2.jpg');
    
    
}
.site_slogan p
{
    background-color: rgba(255, 255, 255, 0.627);
    border-radius: 20px;
    font-size: 24px;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 2%;
    text-indent: 4%;
    padding-left: 10px;
    padding-right: 10px;
}
.site_slogan h2
{
    
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.site_slogan h3
{
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.com
{
    margin-left: 3%;
    margin-right: 3%;
}
.comment_field{
    width: 20vh;
    height: 8vh ;
}

textarea {
    width: 70%;
    height: 10%;
    margin-top:2%;
    border: 1px solid #000000;
    border-radius: 9px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(228, 252, 255);
    resize: none;
}

button {
    background-color: #3dec43;
    color: white;
    border: none;
    padding: 1vh 2vh;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 3vh;
    transition: 1s;
}
.increase, .decrease, .orderButton{
    padding: 10px 20px;
    border-radius: 20px;
    font-size:16px;
}

button:hover {
    background-color: #14571b;
    
}



.dis_name {
    text-align: center;
    height: auto;
    color :rgb(219, 15, 15);
    margin-left: 26%;
    margin-right: 26%;
    border-radius: 35px;
    p{
        font-family: 'Brush Script MT', 'Brush Script Std', cursive;
        font-size: 2.8em;
        font-weight: 600;
        padding-top: 1%;
    }
    

}



.discount_cards,.usual_cards
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    gap: 26px;
    justify-content: center;
    .elem {
        width: 300px;
        height: 400px;
        background-color: rgb(255, 255, 255);
        margin-top: 0px;
        border-radius: 30px;
        position: relative; 
        cursor: pointer;
    }
    
    .elem img {
        width: 100%;
        height: 280px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        object-fit: cover;
        object-position: center;
        border-bottom: 3px solid #000000;
    }
    
    
    
    h3 {
        text-align: center; 
        margin-top: 10px; 
        font-size: 18px;
        margin-bottom: 3px; 
    }
    
    
    
}

.discount_cards{
    justify-content: center;

    .price {
        font-family: Arial, sans-serif;
        font-size: 16px; 
        text-decoration: line-through; 
        color: #888; 
        margin-top: 22px;
        margin-bottom: 0px;
        margin-right: 12px;
        text-align: right;
    }
    
    .new-price {
        font-family: Arial, sans-serif;
        font-size: 24px; 
        color: red; 
        margin-top: 0px; 
        margin-right: 12px;
        text-align: right;
    }
}
.usual_cards{
    .new-price {
        font-family: Arial, sans-serif;
        font-size: 24px; 
        color: #888; 
        margin-top: 32px;
        margin-right: 27px;
        text-align: right;
        
    }
}

.card-image-container {
    position: relative; 
    width: 300px; 
    height: 300px; 
}
.spliter
{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.card-button {
    margin-left: 40px;
    
    button
    {
        border-radius: 14px;
    }
}

.plus-minus
{
    display: block;
    border-radius: 30px;
    margin-bottom:5px ;
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
}
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 2px solid gold;
    width: 80%;
    max-width: 400px;
    button{
        margin-top: 10px;
    }
    .b_one{
        color: white;
        cursor: pointer;
        border:none;
        background-color: rgb(170, 241, 89);
        border-radius: 10px;
        transition: 1.25s;
    }
    .b_one:hover{
        background-color: green;
    }

    .b_two{
        color: white;
        cursor: pointer;
        border:none;
        border-radius: 10px;
        background-color: rgb(253, 131, 131);
        transition: 1.25s;
    }
    .b_two:hover{
        background-color: red;
    }
}

.overlay {
    position: absolute; 
    top: 3%;
    left: 3.5%;
    width: 45%; 
    height: 9%;
    border-radius: 30px;
    background: rgba(197, 16, 16, 0.801); 
    color: white; 
    display: block;
    font-size: 18px;
    text-align: center;
    p{
        margin-top: 1.6%;
    }
}

.score{
    position: absolute; 
    top: 3%;
    left: 80%;
    width: 15%; 
    height: 9%;
    background-color: rgba(255, 217, 0, 0.839);
    border-radius: 30px;
    display: block;
    text-align: center;
    p{
        margin-top: 6.5%;
        font-weight: 600;
        
    }
    img{
        width: 20px;
        height: 20px;
    }
    
}


.card-container {
    perspective: 1000px; 
    
    
}

.elem {
    width: 200px;
    height: 300px; 
    transform-style: preserve-3d;
    transition: transform 0.6s;
    margin-top: 0px;
}

.elem.flipped {
    transform: rotateY(180deg); 
}

.card-image-contaner {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; 
}

.card-content {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
}

.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('images/back_cards.jpg') ;
    top: 0;
    left: 0;
    display: flex;
    transform: rotateY(180deg); 
    backface-visibility: hidden; 
    border-radius: 30px;
}

  
.description
{
    margin-top: 0;
    height: 100%;
    width: 100%;
    margin-right:6% ;
    margin-left: 6%;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-family: Arial, sans-serif;

    .micro-cards
    {
        display: grid;
        grid-template-columns: 1fr 1fr;

        img{
            width: 100px;
            height: 100px;
            border-bottom: none;
            border-radius: 20px;
        }
        p{
            margin-top: 2px;
            font-size: 18px;
            font-weight:600 ;
        
        }
    }

}
.new_block_bord
{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-image: url("images/block_del.png") ;
}
.name_main_catalog
{
    display: grid;
    margin-top: 30px;
    margin-left: 27.5%;
    margin-right: 27.5%;
    width: 45%;
    height: 80px;
    border-radius: 27px;
    background-image: url("images/catalog_back.jpg");
    justify-content: center; 
    align-items: center;
    
    h1{
    
        color: white;
    }
}

.catalog_del{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.name_cat_del{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.position_names
{
    display: grid;
    justify-content: center; 
    align-items: center;
    margin-left: 30%;
    margin-top: 20px;
    background-color: #ffbb00;
    color: white;
    border-radius: 35px;
    width: 40%;
    height: 40px;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
}
.sad , .ogorod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    
}
.sad{
    height: 640px;
}


.sad-ogorod_main_cards{
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 35px;
    background-color: #056d08;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
        border-radius: 35px;
    }
    h2{
        
        position: absolute;
        top:40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 30px;
        text-align: center;
    }
}

.go_back{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 30px;
}
.about_shops, .about_ogorod{
    
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4vh;
    display: flex;                
    justify-content: center;      
    align-items: center;
    p{
        color: #fff;
        margin-left: 2vh;
        margin-right: 2vh;
        font-family: Arial, sans-serif;
        font-size: 3.2vh;
        text-indent: 3.5vh;

    }
    
}
.about_ogorod
{
    background-image: url('images/fruits_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in;
}
.about_shops
{
    background-image: url('images/nuts_back.webp');
    
}

.info_in_cubies{
    justify-content: center;
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    
    gap: 2vh;
    .back_color_one{
        background-color:rgb(50, 135, 10) ;
        width: 25em;
        border-radius: 4vh;
        background-image: url('images/melon_back.png');
        background-size:40vh 40vh ;
        background-position: center;
        background-repeat: no-repeat;
    }
    .back_color_two{
        width: 25em;
        background-color:rgb(215, 186, 23) ;
        border-radius: 4vh;
        background-image: url('images/banana_back.png');
        background-size:40vh 36vh ;
        background-position: center;
        background-repeat: no-repeat;
    }
    .back_color_thr{
        width: 25em;
        background-color:rgb(214, 141, 6);
        border-radius: 4vh;
        background-image: url('images/pumpkin_back.jpg');
        background-size:40vh 40vh ;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    p{
        background-color: rgba(255, 255, 255, 0.589);
        padding: 2vh;
        border-radius: 3vh;
        color: #000000;
        margin-left: 3vh;
        margin-right: 3vh;
        margin-top: 3vh;
        font-family: Arial, sans-serif;
        font-size: 20px;
        text-align: center;
    }
}
.adress{
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
    p{
        background: linear-gradient(to right, #a1b4ff, #1E90FF, #0d297f);
        padding:2vh;
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        border-radius: 2vh;
    }
}
.city{
    display: flex;
    margin-top: 4vh;
    width: 45vh;
    height: 7vh;
    margin-bottom: 2vh;
    background: linear-gradient(to right, #ffff94, #e8fc51, #fff319);
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
        font-size: 6vh;
        font-weight: 600;
    }
}
.adress_concrt{
    display: flex;
    margin-top: 1vh;
    width: 60vh;
    height: 6vh;
    background: linear-gradient(to right, #adff82, #3ce828, #0b760b);
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
        font-size: 3vh;
        font-weight: 600;
    }
}

.world_card{
    margin-top: 3vh;
    border-radius: 2vh;
    width: 70%;
    height: 70vh;
}




.city_ri{
    display: flex;
    margin-top: 3vh;
    width: 60vh;
    margin-left: 64%;
    height: 7vh;
    background: linear-gradient(to right, #ffff94, #e8fc51, #fff319);
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
        font-size: 7vh;
        font-weight: 600;
    }
}
.adress_concrt_ri{
    display: flex;
    margin-top: 2vh;
    width: 70vh;
    margin-left: 58%;
    height: 6vh;
    background: linear-gradient(to right, #adff82, #3ce828, #0b760b);
    border-radius: 2vh;
    justify-content: center;
    align-items: center;
    p{
        color: #fff;
        font-size: 3vh;
        font-weight: 600;
    }
}

.world_card_ri{
    display: flex;
    margin-left: auto;
    margin-top: 3vh;
    border-radius: 2vh;
    width: 70%;
    height: 70vh;
}


#results{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    
}

.order-card {
    background-color: #c8fff8;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.order-card:hover {
    transform: scale(1.05);
}

.order-card p {
    margin: 10px 0;
    font-size: 16px;
}

.order-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.order-card .total {
    font-weight: bold;
    color: #d9534f;
}


.poisk{
    
    background-image: url('images/sky_back.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 4vh;
    justify-items: center;
    h1{
        text-align: center;
        font-size: 4vh;
    }
    button{
        margin-top: 1vh;
        margin-left: 50%;
        transform: translate(-50%);
        
    }
    
}


.find_it
{
    
    display: grid;
    grid-template-rows: 1fr 2fr;
}
.delivery{
    background-image:url('images/back_im_deliv.jpg') ;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 4vh;
    p{
        text-align: center;
        margin: 1vh ;
        font-size: 2.5vh;
    }
    button{
        margin-top: 1vh;
        margin-left: 50%;
        transform: translate(-50%);

    }
    input{
        margin-left: 50%;
        transform: translate(-50%);
    }
}

.find_place,.check_place
{
    margin-top: 0.1vh;
    margin-bottom: 1vh;
    margin-left: 8vh;
    font-size: 3vh;
    
}
.order_find_buttons
{
    
    font-size: 2.5vh;
    font-weight: 600;
    
}
.input_field{
    width: 23vh;
    height: 2.5vh;
    font-size: 3vh;
}
.here_order
{
    display: flex;
    margin-left: 2%;
    text-wrap: nowrap;
    
    height: 5vh;
    border-radius: 1vh;
    background-image: url('images/klukva_back_end.jpg');
    background-size: 300px 50px;
    justify-content: center;
    align-items: center;
    color: white;
    p{
        font-size: 4vh;
    }

}

#ogorod_korneplodi, #ogorod_tykva, #ogorod_luk, #ogorod_travi, #ogorod_pomidor
{
    display: flex;
    margin-top: 20px;
    height: 40px;
    margin-left: auto;
    width:fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #0b760b;
    cursor: pointer;
    transition: transform 0.4s, width 0.4s ease;
    p{
        color: white;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }

}
#ogorod_ogurez{
    display: flex;
    margin-top: 50px;
    height: 40px;
    margin-left: auto;
    width:fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #0b760b;
    cursor: pointer;
    transition: transform 0.4s, width 0.4s ease;
    p{
        color: white;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }
}


#sad_jagodi, #sad_ploderevia, #sad_flowers, #sad_decderevia
{
    display: flex;
    margin-top: 20px;
    height: 40px;
    margin-right: auto;
    width:fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #dcca26;
    cursor: pointer;
    transition: transform 0.4s, width 0.4s ease;
    p{
        color: white;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }



}

#ogorod_korneplodi:hover, #ogorod_tykva:hover, #ogorod_luk:hover, #ogorod_travi:hover, #ogorod_ogurez:hover, #ogorod_pomidor:hover,#sad_jagodi:hover, #sad_ploderevia:hover, #sad_flowers:hover, #sad_decderevia:hover{
    transform: scale(1.05);
}


#ogorod_korneplodi.clicked, #ogorod_tykva.clicked, #ogorod_luk.clicked, #ogorod_travi.clicked, #ogorod_ogurez.clicked, #ogorod_pomidor.clicked, #sad_jagodi.clicked, #sad_ploderevia.clicked, #sad_flowers.clicked, #sad_decderevia.clicked{
    width: 100%;

}
#cards_korneplodi_container.hidden, #cards_luk_container.hidden, #cards_tykva_container.hidden, #cards_ogurez_container.hidden, #cards_pomidor_container.hidden, #cards_travi_container.hidden, #cards_jagodi_container.hidden, #cards_ploderevia_container.hidden, #cards_flowers_container.hidden, #cards_decderevia_container.hidden{
    height: 0;
    opacity: 0;
    overflow: hidden;  
    transition: height 0.5s ease, opacity 3s ease; 
}


#cards_korneplodi_container, #cards_luk_container, #cards_tykva_container, #cards_ogurez_container, #cards_pomidor_container, #cards_travi_container, #cards_jagodi_container, #cards_ploderevia_container, #cards_flowers_container, #cards_decderevia_container{
    height: auto; 
    opacity: 1;   
    transition: height 0.5s ease, opacity 2s ease;
}




footer {
    background-image: url('images/footer_back.jpg');
    padding: 14px ;
    margin-top: 2%;
    padding-bottom: 6px;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
  }
  

  .contact-info {
    margin-bottom: 16px;
  }
  
  .contact-info p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .contact-info a {
    color: blue;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  
 

  .footer-links ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .footer-links a {
    color: #b43edf;
    text-decoration: none;
    font-size: 15px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  

  .footer-bottom {
    font-size: 12px;
    margin-top: 8px;
  }
  
  .speshial_foot{
    margin-top: 60%;
  }
.small_info{
    color:rgb(255, 255, 255);
    padding-top: 2vh;
    padding-left: 3vh;
    padding-right: 2vh;
    font-size: 2.2vh;
    text-align: center;
}
